@import "../../assets/scss/style.scss";

.profile_page_main_container {
  .avarat_container {
    .single_avatar {
      border: 2px solid $primary-color;
      margin: 0 8px;
      cursor: pointer;
    }
    .selected_avatar {
      border: 2px solid green;
    }
  }
  .detail_container {
    .input_container {
      label {
        font-size: 1rem;
        color: #fff;
        margin-bottom: 5px;
      }
      input {
        width: 100%;
        padding: 6px 2px;
        outline: none;
        border: none;
        border: 3px solid $tersiary-color;
        border-radius: 5px;
        background: $primary-bg;
        color: #fff;
        &:focus {
          box-shadow: 0px 0px 15px $tersiary-color;
        }
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    .btn_container {
      color: white;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1.2px;
    }
  }
}
