@import "../../assets/scss/style.scss";
.liquidity_pool {
  .content_main_container {
    justify-content: flex-start !important;
    margin-top: 2rem;
    .cards_up_main_heading {
      top: -15% !important;
      left: 2% !important;
    }
  }
  .pool_main_container {
    .detail_container {
      .input_container {
        label {
          font-size: 1rem;
          color: #fff;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          padding: 6px 2px;
          outline: none;
          border: none;
          border: 3px solid $tersiary-color;
          border-radius: 5px;
          background: $primary-bg;
          color: #fff;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            display: none;
          }
          &:focus {
            box-shadow: 0px 0px 15px $tersiary-color;
          }
        }
        .token_name {
          color: $tersiary-color;
          display: flex;
          justify-content: flex-end;
          margin-top: -2rem;
          width: 96%;
        }
        .plus_symbol {
          color: $tersiary-color;
          font-size: 1.5rem;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
    .button {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      .btn_container {
        color: white;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
  .pool_cards_container {
    .pool_cards {
      border: 2px solid $tersiary-color;
      border-radius: 7px;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      cursor: pointer;
      .head {
        color: $tersiary-color;
        font-size: 1.2rem;
      }
      .value {
        font-size: 1.2rem;
        color: #fff;
      }
      &:hover {
        box-shadow: 2px 2px 10px #ce18c5;
      }
    }
  }
  .approve_btn {
    .button {
      border: 2px solid $tersiary-color;
      color: #fff;
      background-color: transparent;
      padding: 0.6rem 1.3rem;
      display: inline-block;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 500;
      margin-bottom: 10px;
      &:hover {
        box-shadow: 0px 0px 10px $tersiary-color;
      }
    }
  }
}
