@import "../../assets/scss/style.scss";
.navbar_main_container {
  .logo {
    height: 3rem;
    width: 10rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: brightness(0.7);
  // border-bottom: 2px solid #61547a;
  .navbar_container {
    // background: #010203;
    padding: 0 !important;
    // .navbar-nav {
    //   button {
    //     clip-path: polygon(15% 0%, 100% 0, 100% 65%, 83% 100%, 0 100%, 0% 50%);
    //     background: #2da0e2;
    //     font-weight: 600;
    //   }
    // }
  }
  .navbar-nav {
    // display: flex;
    // flex-direction: column;
    // padding-left: 0;
    // margin-bottom: 0;
    // list-style: none;
    // display: flex;
    // justify-content: flex-end;
  }
  .wallet_address_container:nth-child(1) {
    margin-left: 28rem;
  }
  .wallet_address_container {
    // background: darkred;
    margin-left: 1rem;
    border: 2px solid $tersiary-color;
    border-radius: 10px;
    width: 10rem;
    margin-top: -1rem;
    display: flex;
    @media only screen and (max-width: 1000px) {
      margin-left: 1rem;
      margin-top: 1rem;
    }
    & > div:nth-child(1) {
      color: $tersiary-color;
      font-weight: 500;
    }
    & > div:nth-child(2) {
      color: white;
    }
  }
}
.dropdown_nav_main_container {
  width: 100%;
  .dropdown_nav_container {
    padding: 0 !important;
    outline: none;
    border: none;
    border-radius: 10px !important;
    display: flex;
    justify-content: center;
    width: 100%;
    .navbar_dropdown {
      outline: none;
      border: none;
      background-color: transparent;
      color: white;
      width: 100%;
      &:hover {
        color: $tersiary-color;
      }
    }
  }
}

.ant-dropdown-menu {
  // background-color: transparent !important;
  background-color: $primary-bg !important;
  backdrop-filter: saturate(0.5) blur(10px);
  // box-shadow: 0px 0px 10px rgba(206, 24, 197, 0.4) !important;
  box-shadow: 0px 0px 10px rgba(4, 219, 250, 0.3) !important;
  border-radius: 10px !important;
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  color: white !important;
  line-height: 5px !important;
  &:hover {
    background-color: transparent !important;
  }
}
.ant-dropdown {
  top: 90px !important;
}

.connect_modal_main_container {
  .connect_wallet_container {
    .heading {
      color: #04dbfa;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
    }
    .connect_btn {
    }
  }
}
.connected_main_container {
  padding: 5px 10px !important;
  .connected_container {
    .dropdown_list_container {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
      align-items: center;
      height: 100%;
      .left_container {
        color: $tersiary-color;
      }
      .right_container {
        color: #fff;
      }
    }
    // .dropdown_list_container :nth-child(3) {
    //   .right_container {
    //     color: #fff;
    //   }
    // }
    .faucet_link {
      .right_container {
        color: #fff;
        cursor: pointer;
      }
    }
    .user_address_container {
      color: #04dbfa;
      display: flex;
      justify-content: space-between;
      .icon {
        margin-left: 5px;
        cursor: pointer;
        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}
