@import "../../assets/scss/style.scss";

.select_profile {
  .ant-card-meta-title {
    color: #fff;
  }
  .sportPage_card {
    &:hover {
      box-shadow: 0px 2px 15px #ce18c5;
    }
  }
  .content_main_container {
    position: relative;
  }
  .coming_soon_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    color: #fff;
    .title {
      font-size: 1.2rem;
      position: absolute;
      color: $tersiary-color;
      font-size: 2rem;
      font-weight: 500;
      top: 0%;
      left: -35%;
      // height: 100%;
      width: 100%;
      transform: translate(50%, 50%);
      z-index: 2;
    }
    .button_container {
      border: 2px solid $tersiary-color;
      color: #fff;
      padding: 0.6rem 1.3rem;
      display: inline-block;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 500;
      margin: 0 0.5rem;
      font-size: 1rem;
      &:hover {
        box-shadow: 0px 0px 10px $tersiary-color;
      }
    }
    .nav-link {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #fff;
    }
  }
  .coming_soon_cards
    .ant-card-contain-grid:not(.ant-card-loading)
    .ant-card-body {
    display: flex;
    justify-content: center;
  }
}
