@import "./variable.scss";

.btn_container {
  height: 6rem;
  width: 11rem;
  background-image: url("../images/btn_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.max_width {
  max-width: 1300px;
  margin: 0 auto;
}
.loading {
  color: $tersiary-color;
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}
